@import '../../styles/partials/fonts';
@import '../../styles/partials/mixins';
@import '../../styles/partials/resets';
@import '../../styles/partials/variables';

.title {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: $blue; 
    margin-bottom: 20px;
}